[submodule "political-scorecard-node"]
	path = political-scorecard-node
	url = https://github.com/dausume/political-scorecard-node.git
[submodule "polari-node"]
	path = polari-node
	url = https://github.com/dausume/polari-node.git
[submodule "polari-cli"]
	path = polari-cli
	url = https://github.com/dausume/polari-cli.git
