[submodule "political-scorecard-node"]
	path = political-scorecard-node
	url = https://github.com/dausume/political-scorecard-node.git
[submodule "polari-rf-node"]
	path = polari-rf-node
	url = https://github.com/dausume/polari-node.git
[submodule "polari-cli"]
	path = polari-cli
	url = https://github.com/dausume/polari-cli.git
[submodule "pol-geocoder"]
	path = pol-geocoder
	url = git@github.com:dausume/polari-geocoder.git
