[submodule "political-scorecard-node"]
	path = political-scorecard-node
	url = https://github.com/dausume/political-scorecard-node.git
[submodule "polari-rf-node"]
	path = polari-rf-node
	url = https://github.com/dausume/polari-node.git
[submodule "polari-cli"]
	path = polari-cli
	url = https://github.com/dausume/polari-cli.git
[submodule "polari-app-shell"]
	path = polari-app-shell
	url = https://github.com/dausume/polari-app-shell.git
